//<INPUT>
// Сніппет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}


.input {
	width: 100%;
	display: block;
	padding: 0px 10px;
	border: toRem(1) solid var(--gray);
	outline: var(--primary);
	border-radius: toRem(84);
	caret-color: inherit;
	min-height: toRem(42);
	  @extend %fontProst;
  font-size: toRem(12);
  line-height: 1.076;
  letter-spacing: 0.1em;
  text-transform: uppercase;
	text-align: center;
	@media (max-width:$mobileSmall){
		font-size: toRem(16);
	}
	&._form-focus {
	}
	&._form-error {
	}
}
.input[placeholder]:not([data-placeholder-nohiden]) {
	&::placeholder {
		color: var(--gray);
		transition: opacity 0.3s;
		 font-size: toRem(12);
	}
	&:focus::placeholder {
		opacity: 0;
	}
}

textarea.input,
textarea.item-form__input {
	resize: none;
	padding: 0px 0px;
}

.item-form {
	display: grid;
  // .item-form--dark
  &--dark {}

		// .item-form__items
		&__items {
		}
	
  // .item-form__item
		&__item {
			position: relative;
			font-weight: 500;
			.select {
				z-index: 6 !important;
			}
			
			@media (min-width:$mobileSmall){
				font-size: toRem(14);
			}
			@media (max-width:$mobileSmall){
				 font-size: toRem(16); 
			}
			.item-form--dark & {
				color: var(--white);
			}
		
			textarea {
				min-height: toRem(42);
				padding-top: toRem(10);
			}
		}

		// .item-form__label
		&__label {
			pointer-events: none;
			position: absolute;
			z-index: 2;
			top: 0;
			left: 0;
			transition: top .3s ease;
			._form-focus &,
			._form-fill & {
				top: toRem(-16);
			}
			._form-error & {
				color: red;
			}
		}

		// .item-form__input
		&__input {
			width: 100%;
			display: block;
			border-bottom: toRem(1) solid;
			outline: none;
			min-height: toRem(32);
			border-radius: 0;
				caret-color: inherit;
			.item-form--dark & {
				border-color: var(--white);
			}
			._form-error & {
				border-color: red;
			}
		}

		// .item-form__submit
		&__submit {
			    @include adaptiveValue("padding-inline", 67, 53, 0, 1440.98, 480.98);
		}
}



// <BUTTONS>
// Сніппет (HTML): btn
// @import "button";

// <INPUTS>
// Сніппет (HTML): inp
// @import "input";

// <CHECK>
// Сніппет (HTML): chk
// @import "checkbox";

// <RADIO>
// Сніппет (HTML): opt
// @import "radio";

// <SELECT>
// Сніппет (HTML): sel
@import "select";

// <RATING>
// Сніппет (HTML): rating
// @import "rating";

// <QUANTITY>
// Сніппет (HTML): qa
// @import "quantity";

// <RANGE>
// Сніппет (HTML):
// @import "range";

// <CALENDAR>
// Сніппет (HTML):
// @import "datepicker";
