// <SELECT>
// Сніппет (HTML): sel
.select {
	min-width: 0;
	position: relative;

	// .select__body
	&__body {
		position: relative;
	}

	// .select__title
	&__title {
		color: inherit;
		text-align: left;
		cursor: pointer;
		width: 100%;
		transition: all .3s ease;
		
		.select_type-1 & {
			border-radius: toRem(84);
			border: toRem(1) solid var(--primary);
			background-color: var(--white);
			font-weight: 600;
			font-size: toRem(12);
			text-transform: uppercase;
			letter-spacing: 0.1em;
					@media (any-hover: hover) {
						&:hover {
							box-shadow: 0 4px 20px 0 rgb(17, 27, 81, 0.15);
			
							&::placeholder {
								color: var(--primary);
							}
						}
					}
		}
		.select_type-2 & {
			font-weight: 500;
			border-bottom: toRem(1) solid var(--white);
			@media (min-width:$mobileSmall){
				font-size: toRem(14);
			}
			@media (max-width:$mobileSmall){
				 font-size: toRem(16); 
			}
		}
	}

	// .select__value
	&__value {
		display: flex;
		min-width: 0;
		align-items: center;
		gap: toRem(8);
		
		.select_type-1 & {
			min-height: toRem(42);
			padding-inline: toRem(43);
		}

		.select_type-2 & {
			min-height: toRem(32);
			align-items: flex-start;
		}

		>* {
			flex: 1 1 auto;
		}

		&:after {
			content: "";
			position: relative;
			align-self: stretch;

			flex: 0 0 toRem(10);
			transition: all 0.3s ease 0s;
			display: flex;
			justify-content: center;
			align-items: center;
			@extend %imgContain;
			width: toRem(10);
			aspect-ratio: 8/4;
			background-image: url("@img/icons/arr-blue-3.svg");
			
			.select_type-2 & {
				background-image: url("@img/icons/arr-white-2.svg");
				transform: rotate(90deg);
				flex: 0 0 toRem(8);
				width: toRem(8);
				top: toRem(-6);
			}
			
			.select_type-1 & {
				@media (min-width:$mobileSmall) {
					top: toRem(-1);
				}

			}
			
			._select-open & {
				transform: rotate(-180deg);
			}
			._select-open.select_type-2 & {
				transform: rotate(-90deg);
			}
		}

		&._select-pseudo-label {
			&::before {
				content: attr(data-pseudo-label);
				opacity: 0.5;
			}
		}
	}

	// .select__content
	&__content {
		flex: 1 1 auto;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	// .select__text
	&__text {
		flex: 1 1 auto;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	&__input {
		width: 100%;
		background-color: transparent;
		height: 100%;
	}

	// .select__options
	&__options {
		position: absolute;
		top: calc(100% - toRem(-4));
		min-width: 100%;
		left: 0;
		overflow: hidden;
		background-color: #fff;
		// border-top: 0;
		// border: 1px solid #d9d9d9;
		// border-top: 0;
		// padding: 10px 0px 5px 0px;
		box-shadow: 0 4px 20px 0 rgb(17, 27, 81, 0.15);
		padding-inline: toRem(4) toRem(1);
		padding-block: toRem(12);
		.select_type-1 & {
			border-radius: toRem(24);
		}
		.select_type-2 & {
			color: var(--primary);
		}
	}

	// .select__scroll
	&__scroll {
		overflow-y: auto;
		overflow-x: hidden;
		// Максимальна висота
		max-height: toRem(200);
		padding-right: 1px;

		&::-webkit-scrollbar {
			width: 3px;
		}

		&::-webkit-scrollbar-track {
			background-color: transparent;
		}

		&::-webkit-scrollbar-thumb {
			background-color: var(--gray);
			border-radius: 3px;
		}

		// Стилі скроллбару
		.simplebar-scrollbar {
			&::before {
				//opacity: 1;
			}
		}
	}

	// .select__option
	&__option {
		width: 100%;
		text-align: left;
		cursor: pointer;
		padding: toRem(10) toRem(15);
		border-radius: toRem(8);
		color: inherit;
		transition: background-color .3s ease;
		@include adaptiveValue("font-size", 16, 14, 0, 1440.98, 480.98);
		&._select-selected {
			background-color: #eee;
		}
		
		.select_type-2 & {
			font-size: toRem(14);
			border-radius: toRem(3);
		}

		@media (any-hover: hover) {
			&:hover {
				background-color: rgb(204, 204, 204,0.5);
			}
		}
	}

	// Конструкція додаткових даних
	&__row {
		display: inline-flex;
		align-items: center;
	}

	&__asset {}

	&__text {}

	&--show-top {
		.select__options {
			top: auto;
			bottom: calc(100% - toRem(-4));
			box-shadow: 0 4px 20px 0 rgb(17, 27, 81, 0.15);
		padding-inline: toRem(4) toRem(1);
		padding-block: toRem(12);
			.select_type-1 & {
			border-radius: toRem(24);
		}
		}
	}

	// Стан селекту
	&._select-open {}

	&._select-disabled {}

	&._select-active {}

	&._select-focus {}

	&._select-multiple {}

	&._select-checkbox {}
}

// Тег
._select-tag {
	cursor: pointer;
}