* {
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    // border-radius: 20px;
  }
}

// filters ====================
/*
#111B51 -- blue
filter: invert(8%) sepia(55%) saturate(3862%) hue-rotate(227deg) brightness(89%) contrast(98%);


#FFFFFF -- white
filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(55deg) brightness(103%) contrast(102%);


*/

// // LENIS плавная прокрутка ===============================
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}



[class*="__container"] {
  width: 100%;
  padding-inline: toRem(25);
  margin-inline: auto;
  max-width: toRem(1370);
}
[class*="__container-b"] {
  max-width: toRem(1200);
}




// SPLIT TYPE =============================================
.split-lines,
.split-words,
.split-chars,
.split-both {
  font-kerning: none;
}

.split-words {}

.word {
  overflow: hidden;

  .word-span {
    display: inline-block;
  }
}

.split-words.set-span {
  .word {
    .word-span {
      transform: translateY(110%);
      transition: transform .8s cubic-bezier(.22, .89, .34, .96);

      ._view & {
        transform: translateY(10%);
        transition-delay: calc(var(--index) * .07s);
      }
    }
  }
}

// .element {
//   .line {
//     overflow: hidden;
//   }
//   .word {
//     transform: translateY(100%);
//     transition: transform .55s cubic-bezier(.22,.89,.34,.96);
//   }
//   &._watcher-view {
//     .word {
//       transform: translateY(0);
//       transition-delay: calc(var(--index) * .03s);
//     }
//   }
// }
// ================================================================


%lineElements {
  overflow: hidden;
  -webkit-line-clamp: 3;
  display: box;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
}




// Ticker =================================
[data-ticker] {
  overflow: hidden;
  width: max-content;
  display: flex;
  align-items: center;

  >* {
    display: flex;
    flex-wrap: nowrap;
  }
}

@keyframes scroll {
  to {
    transform: translateX(-100%);
  }
}

@keyframes scroll-rev {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

// ========================================



%ibg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

%img {
  width: 100%;
  height: auto;
}

%gridCenter {
  display: grid;
  place-items: center;
}

%flexCenter {
  display: flex;
  align-items: center;
}

%absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

%absoluteTopLeft {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


%imgContain {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

%imgCover {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

%fontProst {
  font-family: "ProstoOne";
  // font-weight: 400;
}




// == TITLES ================
.title-main {
  @extend %fontProst;
  @include adaptiveValue("font-size", 60, 35, 0, 1440.98, 480.98);
  line-height: 1.07;
}

.title-34 {
  @extend %fontProst;
  @include adaptiveValue("font-size", 34, 23, 0, 1440.98, 480.98);
  line-height: 1.07;
}

// == TEXTS =================
.txt-main {
  line-height: 1.46;
  font-weight: 400;
  @include adaptiveValue("font-size", 16, 14, 0, 1440.98, 480.98);
}

.txt-26 {
  @include adaptiveValue("font-size", 26, 18, 0, 1440.98, 480.98);
}
.txt-24 {
  @include adaptiveValue("font-size", 24, 20, 0, 1440.98, 480.98);
}
.txt-22 {
  @include adaptiveValue("font-size", 22, 18, 0, 1440.98, 480.98);
}

.txt-18-16 {
  @include adaptiveValue("font-size", 18, 16, 0, 1440.98, 480.98);
}
.txt-18-14 {
  @include adaptiveValue("font-size", 18, 14, 0, 1440.98, 480.98);
}
.txt-17-12 {
  @include adaptiveValue("font-size", 17, 12, 0, 1440.98, 480.98);
}
.txt-16-14 {
  @include adaptiveValue("font-size", 16, 14, 0, 1440.98, 480.98);
}

.txt-18 {
  // @extend %fontProst;
  font-weight: 500;
  font-size: toRem(18);
  line-height: 1.076;
  text-transform: uppercase;
}

.txt-14 {
  @extend %fontProst;
  @include adaptiveValue("font-size", 14, 10,0,1440.98,480.98);
  line-height: 1.076;
  // letter-spacing: 0.3em;
  text-transform: uppercase;
}

.txt-10 {
  @extend %fontProst;
  font-size: toRem(10);
  line-height: 1.076;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: var(--gray);
}

%fs14Upp {
  font-size: toRem(14);
  line-height: 1.076;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.t-shadow {
  color: var(--white);
  text-shadow: -1px 0 var(--primary), 0 1px var(--primary), 1px 0 var(--primary), 0 -1px var(--primary);
}

p {
  text-wrap: balance;
}

// == MARGINS =================
.mb-33-19 {
  @include adaptiveValue("margin-block-end", 33, 19, 0, 1440.98, 480.98);
}

.mb-24-20 {
  @include adaptiveValue("margin-block-end", 24, 20, 0, 1440.98, 480.98);
}

.mb-114-60 {
  @include adaptiveValue("margin-block-end", 114, 60, 0, 1440.98, 480.98);
}
.mt-114-60 {
  @include adaptiveValue("margin-block-start", 114, 60, 0, 1440.98, 480.98);
}
.mb-85 {
  @include adaptiveValue("margin-block-end", 85, 52, 0, 1440.98, 480.98);
}
.mb-80 {
  margin-block-end: toRem(80);
}

.mtb-60 {
  @include adaptiveValue("margin-block", 60, 48, 0, 1440.98, 480.98);
}

.mt-60 {
  @include adaptiveValue("margin-block-start", 60, 48, 0, 1440.98, 480.98);
}

.mb-60 {
  @include adaptiveValue("margin-block-end", 60, 48, 0, 1440.98, 480.98);
}
.mb-50 {
  @include adaptiveValue("margin-block-end", 50, 20, 0, 1440.98, 480.98);
}
.mb-44 {
  @include adaptiveValue("margin-block-end", 44, 40, 0, 1440.98, 480.98);
}

.mb-24 {
  margin-block-end: toRem(24);
}
.mb-20 {
  margin-block-end: toRem(20);
}
.mb-21 {
  @include adaptiveValue("margin-block-end", 21, 16, 0, 1440.98, 480.98);
}
.mb-16 {
  @include adaptiveValue("margin-block-end", 16, 14, 0, 1440.98, 480.98);
}
.mb-11 {
  margin-block-end: toRem(11);
}

// == PADDINGS ==================

.pt-120 {
  @include adaptiveValue("padding-block-start", 120, 40, 0, 1440.98, 480.98);
}
.pb-120 {
  @include adaptiveValue("padding-block-end", 120, 40, 0, 1440.98, 480.98);
}
.ptb-60 {
  @include adaptiveValue("padding-block", 60, 48, 0, 1440.98, 480.98);
}

.pt-60 {
  @include adaptiveValue("padding-block-start", 60, 48, 0, 1440.98, 480.98);
}

.pb-60 {
  @include adaptiveValue("padding-block-end", 60, 48, 0, 1440.98, 480.98);
}

%pddLeft84 {
  @media (min-width:toEm(1100.98)) {
    padding-left: toRem(84);
  }
}


// ======= GAP ===============================
%gap53-40 {
  @include adaptiveValue("gap", 53, 40,0,1440.98,480.98);
}
%gap50-28 {
  @include adaptiveValue("gap", 50, 28,0,1440.98,480.98);
}

%gap40-30 {
 @include adaptiveValue("gap", 40, 30,0,1440.98,480.98);
}
%gap37-20 {
 @include adaptiveValue("gap", 37, 20,0,1440.98,480.98);
}
%gap20-13 {
 @include adaptiveValue("gap", 20, 13,0,1440.98,480.98);
}
// -- FONTS WEIGHT ===========================
.fw-600 {
  font-weight: 600;
}


%container1150 {
  @media (min-width:$tablet){
     max-width: toRem(1150);
     margin-inline: auto; 
     width: 100%;
    }
  }
  %container998 {
    @media (min-width:$tablet){
      max-width: toRem(998);
      margin-inline: auto; 
      width: 100%;
  }
}

%mandatory {
    @media (max-width: toEm(768.98)) {
      display: flex;
      overflow: auto;
      scroll-snap-type: x mandatory;
      padding-left: toRem(25);
      padding-right: toRem(25);
      margin-inline: toRem(-25);
      li {
         scroll-snap-align: center;
      }
      &::-webkit-scrollbar {
        display: none;
      }
    }
}


%hoverLine {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    bottom: toRem(-2);
    left: 0;
    width: 100%;
    height: toRem(1);
    background-color: var(--white);
    transform: scale(0, 1);
    transform-origin: 100% 50%;
    transition: transform .8s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  @media (any-hover: hover) {
    &:hover {
      &::before {
        transform: scale(1);
        transform-origin: 0 50%;
      }
    }
  }
}



.bg-dark {
  background-color: var(--primary);
  color: var(--white);
}

// == BUTTONS ==================
%arrBtn {
  content: '';
  position: absolute;
  pointer-events: none;
  top: 50%;
  right: 0%;
  transform: translate(55%, -50%);
  @extend %imgContain;
  background-image: url("@img/icons/arr-white.svg");
  @include adaptiveValue("width", 80, 61, 0, 1440.98, 480.98);
  aspect-ratio: 77/10;
  transition: transform .45s ease;
}

%btnMain {
  position: relative;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  @include adaptiveValue("font-size", 14, 11, 0, 1440.98, 480.98);
  @include adaptiveValue("min-height", 50, 40, 0, 1440.98, 480.98);
  border-radius: toRem(100);
  max-width: max-content;
  width: 100%;
  
  transition: background-color .3s ease, color .3s ease;
}

.btn {
  @extend %fontProst;
  @extend %gridCenter;
  @extend %btnMain;
  span {
    display: inline-block;
    position: relative;
    z-index: 3;
  }

  &::before {
    @extend %arrBtn;
  }

  @media (any-hover: hover) {
    &:hover {
      &::before {
        transform: translate(70%, -50%);
      }

      .btn-arrows {
        &::before {
          transform: translate(70%, -50%);
        }
      }
    }
  }

  &:active {
    &::before {
      transform: translate(70%, -50%);
    }

    .btn-arrows {
      &::before {
        transform: translate(70%, -50%);
      }
    }

  }

  .btn-txt {
    @media (min-width:$mobileSmall) {
      left: -2%;
    }

    @media (max-width:$mobileSmall) {
      left: -1%;
    }
  }

  .btn-arrows {
    @extend %absoluteTopLeft;
    overflow: hidden;
    pointer-events: none;

    &::before {
      @extend %arrBtn;
      content: '';
      background-image: url("@img/icons/arr-blue.svg");
    }
  }

  // .btn--light
  &--light {
    background-color: var(--white);
    color: var(--primary);
    // @media (any-hover: hover){
    //   &:hover{
    //     background-color: var(--primary);
    //     color: var(--white);
    //     border: 1px solid var(--white);
    //   }
    // }
  }

  // .btn--dark
  &--dark {
    background-color: var(--primary);
    color: var(--white);
  }

  &--size-a {
    @include adaptiveValue("min-width", 270, 216, 0, 1440.98, 480.98);
  }

  &--size-b {
    @include adaptiveValue("padding-inline", 67, 53, 0, 1440.98, 480.98);
    
    &:before {
      background-image: url("@img/icons/arr-blue.svg");
    }
    
    .btn-arrows {
      &::before {
        background-image: url("@img/icons/arr-white.svg");
      }
    }
  }
  
  &--height-a {}
}

.btn-sec {
    @extend %fontProst;
  @extend %gridCenter;
  @extend %btnMain;
  border: toRem(1) solid transparent;
  @include adaptiveValue("padding-inline", 67, 53, 0, 1440.98, 480.98);
  // .btn-sec--light 
  &--light {
     background-color: var(--white);
    color: var(--primary);
    @media (any-hover: hover){
      &:hover{
        background-color: var(--primary);
        color: var(--white);
        border-color: var(--white);
      }
    }
  }
  .btn-sec-txt {
    display: inline-block;
  }
}



// BLOCK INTRO ==========================
.block-intro {
  display: grid;
  column-gap: toRem(67);
  @include adaptiveValue("row-gap", 24, 20, 0, 1440.98, 480.98);
  grid-auto-rows: max-content;
  &--pl {
    @extend %pddLeft84;
    
  }
  // .block-intro--clm
  &--clm {
    @media (min-width:toEm(820.98)) {
      grid-template-columns: 42% 1fr;
    }
    
    @media (max-width:toEm(820.98)) {
      grid-template-columns: 100%;
    }
  }
  // .block-intro--clm-b
  &--clm-b {
    @media (min-width:toEm(820.98)) {
      grid-template-columns: 50% 1fr;
    }
  }

  // .block-intro__head
  &__head {}

  // .block-intro__label
  &__label {
    display: inline-block;
    @extend %fontProst;
    @extend %fs14Upp;
    color: var(--gray);

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 18, 10, 0, 1440.98, 480.98);
    }
  }

  // .block-intro__title
  &__title {
    @extend %fontProst;
    // line-height: 1.076;
    text-transform: uppercase;
    @include adaptiveValue("font-size", 34, 24, 0, 1440.98, 480.98);
  }

  // .block-intro__link
  &__link {}

  // .block-intro__text
  &__text {
    line-height: 1.47;

    .block-intro--clm & {
      @media (min-width:toEm(820.98)) {
        padding-block-start: toRem(33);
      }
    }

  }

  // .block-intro__t
  &__t {
    @include adaptiveValue("font-size", 16, 14, 0, 1440.98, 480.98);

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 24, 20, 0, 1440.98, 480.98);
    }
  }

  // .block-intro__wrapper
  &__wrapper {
    &--a {
      max-width: toRem(500);
    }
  }
}


%btnLinkArr {
  &::after {
    content: '';
    position: relative;
    top: -1px;
    opacity: 0;
    transform: translateX(-10px);
    transition: transform .45s ease, opacity .3s ease;
    @extend %imgContain;
    background-image: url('@img/icons/arr-blue-2.svg');
    width: toRem(6.5);
    aspect-ratio: 5/10;

    .touch & {
      opacity: 1;
      transform: translateX(0);
    }
  }

}

.btn-link {
  @extend %flexCenter;
  @extend %fontProst;
  gap: toRem(18);
  max-width: max-content;
  @extend %fs14Upp;
  @include adaptiveValue("margin-top", 32, 16, 0, 1440.98, 480.98);

  span {
    display: block;
    @extend %hoverLine;

    &:before {
      bottom: toRem(-4);
      background-color: var(--primary);

      .touch & {
        transform: scale(1);
        transform-origin: 0 50%;
      }
    }
  }

  @extend %btnLinkArr;

  @media (any-hover: hover) {
    &:hover {
      &::after {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }

  &--dark {
    span {

      &:before {
        background-color: var(--white);
      }
    }

    &::after {
      background-image: url('@img/icons/arr-white-2.svg');

    }
  }
}


.clr-gray {
  color: var(--gray);
}